div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: steelBlue;
}

button {        
    font-size: 24px;        
}